*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
}
html, body {
height : 100%;
width : 100%;
background-color : black; 
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: flex;
align-items: center;
justify-content: center;

}

#root{
background-color: wheat;
text-align: center;
padding: 15px 20px;
border-radius: 6px;

}


#nos{

padding: 5px;
margin-bottom: 10px;
}

input{
   font-size: 20px; 
}



button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rosybrown;
    color:white;
}

#result{
margin-top: 15px;

}



















