*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
}
html,body {
 height : 100%;
 width : 100%;
 background-color : black; 
}

.container{
 height : 100%;
 width : 100%;
 background-color : rgb(188, 50, 73);
 display: flex;
 align-items: center;
 justify-content: center;


}

.card{
height: 400px;
width: 250px;
background-color: goldenrod;
border-radius: 5px;
border: 2px solid black;    
position: relative;

}



.storiyan{
height: 100px;
width: 100%;
/* border-bottom: 2px solid red; */
padding: 5px;
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
cursor: pointer;
position: relative;
z-index: 1;
}


.storiyan::-webkit-scrollbar{
  display: none;
}

.story{
height: 70px;
width: 70px;
border-radius: 50%;
/* background-color: red; */
/* border: 2px solid red; */
display: inline-block; 
text-align: center;

}


.story img{
height: 100%;
width: 100%;
object-fit: cover;
 border-radius: 50%;  /* if you dont use Ov hidden in story, use this */
border: 4px solid none;

}

.dp-name{
  font-size: 16px;
  /* margin-top: 3px; */
  /* max-width: 70px; */
  /* line-height: 1.2; */
}




.full-screen{
inset: 0;
position: absolute;
display: none;
background-size: cover;
background-position: center;
z-index: 10;

}



