*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
}
html,body {
 height : 100%;
 width : 100%;
 background-color : black; 
}


body{
    background-image: url(https://images.pexels.com/photos/15390769/pexels-photo-15390769.jpeg);
     background-size: cover;
}

:root{
    --a: 400px;
    --b: 400px;   
}



 .box{
 height : 100%;
 width : 100%;
background: radial-gradient(200px at var(--a) var(--b), rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.786));

}




