*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
 height : 100%;
 width : 100%;
 background-color : black; 
}



.container{
max-width: 600px;
margin:20px auto;
margin-bottom:20px ;
background-color: rgb(171, 154, 130);
border-radius: 5px;
padding: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h1{
    text-align: center;

}

.question {
    margin-bottom: 20px;
}
.question p {
    font-weight: bold;

}
.question input {
    margin-right: 10px;
    cursor: pointer;

}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background: #0056b3;
}


#out{
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}















