*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}
html, body {
 height : 100%;
 width : 100%;
 background-color : black; 
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 10px;
} 



#bul{
    height: 200px;
    width: 200px;
    /* background-color: black; */
    border-radius: 50%;
    border: 5px solid rgb(190, 182, 182);
}

button{
  background-color: burlywood;
  border-radius: 5px;
  padding: 10px 10px ;
}












