*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
}
html, body {
 height : 100%;
 width : 100%;
 background-color : black; 
 color: white;
}

body{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
  text-align: center;
margin: 10px;
}

.form-box{
  width: 100%;
  max-width: 400px;
  background-color: rgb(74, 39, 46); 
border-radius: 10px;
padding: 20px 30px ;

}

form{
display: flex;
flex-direction: column;
gap: 15px;

}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input{
padding: 10px 10px;
border-radius: 5px;
border: none;

}

input:focus {
    border-color: #007bff;
}
button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #0056b3;
}
    



#result{

  padding: 10px;
  display: none;

}