* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100vh;
}

.ball{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  overflow: hidden;
  animation: grow 5s forwards;
}




@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
    font-size: 10px; 
  }
  100% {
    transform: scale(3);
    opacity: 0;
    font-size: 40px; 
  }
}







