*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background: black;
  color: antiquewhite;
}

.contain {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Big enough container for all orbits */
.orbit {
  width: 1000px;
  height: 1000px;
  position: relative;
}

/* Sun at center */
.sun {
  width: 180px;
  height: 180px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Shared planet rules */
.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: orbit linear 1;
}

/* Individual planets */
.mars {
  width: 140px;
  height: 140px;
  background: red;
  transform-origin: -250px 0;
  animation-duration: 3s;
}

.earth {
  width: 120px;
  height: 120px;
  background: blue;
  transform-origin: -350px 0;
  animation-duration: 5s;
}

.jupiter {
  width: 100px;
  height: 100px;
  background: royalblue;
  transform-origin: -450px 0;
  animation-duration: 8s;
}

/* One reusable animation */
@keyframes orbit {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}







 